*{  /* formata geral */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* preserva as dimensoes da caixa */
}

:root{
    font-size: 62,5%;   /* ajuda a criar uma forma de acessibilidade na fonte */
    
}
h1{

    color: #a00ff0;    /* fonte hexadecimal */
    /*font-size: 90px;*/
    font-size: 9.0rem;
    background-color: black;
    font-weight: 300px;
    /* font-style: italic;  /* muda a fonte do texto em negrito italico etc */
    /* text-decoration: line-through; */ 
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

.bg{   /* classe se marca com ponto+onome da classe */
    height: 500px; /* altura */
    width: 100%; /* largura */
    background-color: #a00ff0;
    background-image: url(https://images.unsplash.com/photo-1480099225005-2513c8947aec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2NydW18ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60);
    background-size: cover; /* cobre a div com a imagem */
    background-repeat: no-repeat; /* faz a imagem nao se repetir */
    background-attachment: fixed; /* faz o texto rolar por cima da imagem */
}

p{
    font-size: 30px;
    text-align: justify; /* texto justificado */
    text-indent: 90px; /* recuo do parágrafo, so funciona na primeira linha */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* posso usar fontes serifadas e não serifadas */

}


a{
    font-size: 2.3rem;
    color: red;

}

a:visited{
    color: green;
}

a:hover{
    color: blue;
}

.tabela, td,th {
    border: 1px solid red;
}

.tabela tr:first-child{
    background-color: #555;
    color: #fff}

.tabela tr :nth-child(2n+1){
    background-color: aquamarine;
}

.box{
    width: 10rem; /* altura */
    height: 20rem;  /* largura */
    border: 1px solid #555;
    background-color: #a00ff0;
    /* display: inline-block; /* deixa alinhado comm outros elementos inline */ 
    padding: 15px ; /* atua dentro do elemento */
    border-radius: 2rem; /* arredonda as bordas */
    position: static; /* nenhuma coordenada faz efeito */
    padding-top: 30rem;
    display: flex ;
    flex-wrap: wrap;
}
/* none tira o elemento da tela */

.box:nth-child(1){
    position: relative; /*  absolut ele se matem no local de alocação, se nao tiver coordenadas ele vao para o começo da tela */
    padding-top: 30px;
    float: right;


}   

nav.menu{
    background-color: aqua;
    position: fixed;
    z-index: 1;
    width: 100%;

}