<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elementos semanticos</title>
</head>
<body>
    <header>
        <nav>barra de navegaçaõ</nav>
    </header>

    <main>
       conteudo principal 
       <section>sobre mim</section>

       <section>
            <article></article>
       </section>
    </main>

    <aside>
        conteudo da barra lateral
    </aside>

    <footer>
        rodapé
    </footer>
</body>
</html>