<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formatação</title>
</head>
<body>
        <h1>formatação de texto</h1>
        <hr>
    <!-- negrito -->
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, reprehenderit! Ut aliquam consectetur temporibus? Quam <strong> voluptatem </strong>  <b> suscipit </b> sequi atque excepturi autem sapiente veritatis sint corrupti, voluptate vitae in quibusdam neque!</p>
    <!-- italico -->
        <p> Lorem ipsum dolor sit amet <i> consectetur</i> adipisicing elit. Cum fugit quae aliquid quod sunt dolorem doloribus perferendis ex minima architecto <em> impedit</em>  doloremque perspiciatis, cupiditate numquam aperiam eaque reiciendis, nulla commodi!</p>
    <!-- sublinhado -->
        <p> Lorem ipsum dolor sit <span class="underline"> amet consectetur</span> adipisicing elit. Enim soluta amet, quam molestiae, eveniet earum asperiores voluptatem fugiat natus debitis ducimus cumque ipsam iure vero laudantium architecto dolore vitae quos!</p> <!-- !não se usa mais -->
    <!-- texto riscado -->
        <p>Lorem ipsum dolor sit amet, consectetur <s> adipisicing elit.</s> Ut, provident distinctio eos incidunt numquam omnis ad tenetur a, explicabo hic esse! Quasi necessitatibus quo commodi, officia cum dolorum soluta eveniet?</p>
    <!-- destacar -->
        <p>Lorem ipsum dolor, <mark> sit amet consectetur adipisicing elit. Repellat, alias adipisci blanditiis aspernatur fugiat velit commodi architecto, pariatur necessitatibus dolorum nulla maiores! Error cum, sapiente labore inventore recusandae totam</mark> architecto.</p>
    <!--pre formatado  -->

        <pre> print("hello word")</pre>

    <!-- codigo in line -->

        <h3>como pode ver acima a <code>variável</code>  acima é do tipo str</h3>

    <!-- citação -->
    <blockquote>
        citação lalalaal
    </blockquote>

    <!-- subscrio -->

        <p> 2 <sub>2</sub></p>

    <!-- sobrescrito -->
    <p> 2 <sup>2</sup></p>
    </body>
</html>