<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- aqui marca a escala inicial da pagina para se adaptar em qualquer tela -->
    <title>html ada</title>
</head>
<body>
   <!-- principais tags html -->

        <!-- cabeçalho -->

            <h1> tags html</h1>
            <h2>cabeçalho h2</h2>
            <h3>cabeçalho h3</h3>
            <h4>cabeçalho h4</h4>
            <h5>cabeçalho h5</h5>

        <!-- paragrafo -->

            <p>paragrafo</p>
            <p>...</p>

        <!-- divisor de linhas e quebras de linha -->

            <br>    <!-- quera linha  -->
            <hr>     <!-- cria um divisor horizontal na pagina  -->

        <!-- links -->

            <br>
            <a href="https://www.canva.com/">aqui é o texto do link</a>
            <br>
            <a href="https://www.canva.com/" target="_blank"> link vai abrir outra pagina</a>

            
        <!-- imagens -->

            <img src="img/baixados.jpeg"alt="htmllogo" width="400">

        <!-- listas -->
            <h2>listas</h2>

            <h3>lista não numerada</h3>
              <ul>
                <li>1° item</li>
                <li>2° item</li>
                <li>3° item</li>
              </ul> 
            <h3>listas numeradas</h3> 
            <ol>
                <li>1° item</li>    <!-- se colocar li*3 ele gera 3 itens na lista e assim sucessivamente -->
                <li>2° item</li>
                <li>3° item</li>
            </ol>

        <!-- tags de uso generico  -->

        <!-- <div></div> quando quero colocar conteudos em blocos, cria blocos--> 
        <h1>div</h1>
        <p> Lorem ipsum dolor sit amet, consectetur <div> adipisicing </div> elit. Quis odio vel tenetur sit deserunt, optio praesentium, consectetur porro quisquam expedita explicabo perspiciatis nisi eligendi commodi distinctio ea ducimus at illum.</p>
        <!-- <span></span>  usada para estilizar as coisas -->
        <h1>span</h1>
        <p> Lorem ipsum dolor sit amet consectetur <span> adipisicing</span> elit. Non, accusantium soluta! Dicta, odit molestiae! Amet praesentium, ipsam, ad incidunt eligendi maxime odio animi explicabo molestiae rem laborum modi dolor ea.</p>
</body>
</html>